.img-background{
    background: url("../img/bg.png") no-repeat;
    background-size: cover, 100%;
    font-family: Verdana, sans-serif;
}
.top-menu{
    height: 54px;
    color: white;
    background-color:  rgba(0, 0, 0, 0.41);
    margin-bottom: 20px;
    position: relative;
}
.top-link-journey{
    display: inline-block;
    color: white;
    margin-left: 81px;
    padding-top: 20px;
    text-decoration: none;
    font-size: 20px;
    font-weight: 700;
}
.top-link-journey:hover{
    color: #3cb878;
    transition: 0.3s;
}
.top-menu-registration{
    position: absolute;
    top: 15px;
    right: 75px;
    color:  #ffffff;
    font-size: 14px;
    display: inline-block;
}

.icons{
    display: inline-block;
    height: 20px;
    width: 30px;
    background-image: url(../img/spritesheet.png);
    margin-right: 20px;
}
.icon-calendar{
    background-position: 0, 0;
}
.icon-calendar:hover{
    background-position: -39px, 0;
    transition: 0.7s;
}
.icon-forum{
    background-position: -80px, 0;
}
.icon-forum:hover{
    background-position: -128px, 0;
}
.icon-journey{
    background-position: -184px, 0;
    margin-right: 25px;
}
.icon-journey:hover{
    background-position: -224px, 0;
    margin-right: 25px;
}
.main-block{
    margin: 0 auto;
    box-shadow: 0 4px 18px 0 rgba(0, 0, 0, 0.52);
    width: 444px;
    height: 584px;
    background-color: #fff;
    border-radius: 10px;
}

.registration-form{
    margin: 30px 60px;
    height: 523px;
    display: inline-block;
    position: relative;
}

.square{
    width: 18px;
    height: 18px;
    background-color: #3cb878;
    position: absolute;
    left: -60px;
    top: 32px;

 }
.header-registration-form{
    color:  #434343;
    font-size: 20px;
    font-weight: 400;
    line-height: 21px;
    display: flex ;
    justify-content: space-between;
    margin-bottom: 10px;
}
.log{
    color:  #3cb878;
    font-size: 14px;
    font-weight: 400;
    line-height: 21px;
    text-decoration: none;
}
.log:hover{
    text-decoration: underline;
}
.btn-social{
    display: flex;
    justify-content: space-between;

}
.btn-fb{
    border-radius: 3px;
    background-color:  #264b96;
    width: 157px;
    height: 44px;
    color:  #ffffff;
    font-size: 16px;
    line-height: 21px;
    text-align: right;
    padding: 10px 17px 15px 66px;
    position: relative;
    margin-bottom: 20px;
    border: none;

}
.btn-fb:before{
    content: "f";
    /*width: 1px;*/
    height: 20px;
    border-right: 1px solid #363a75;
    position: absolute;
    top: 13px;
    left: 20px;
    font-weight: bold;
    font-size: 25px;
    padding-right: 15px;
}

.btn-google{
    border-radius: 3px;
    background-color:  #c3412c;
    width: 157px;
    height: 44px;
    color:  #ffffff;
    font-size: 16px;
    line-height: 21px;
    text-align: right;
    padding: 10px 30px 15px 70px;
    position: relative;
    border: none;
}

.btn-google:before{
    content: "G+";
    width: 20px;
    height: 20px;
    border-right: 1px solid #a5463f;
    position: absolute;
    top: 13px;
    left: 15px;
    font-weight: bold;
    font-size: 22px;
    padding-right: 15px;
}

.or{
    text-align: center;
    margin-bottom: 18px;
    color:  #848484;
    font-size: 14px;
    font-weight: 400;
    line-height: 21px;
    position: relative;
}
.or:before{
     content: "";
     border-top: 1px solid #848484;
     width: 145px;
     /*height: 20px;*/
     position: absolute;
     top: 12px;
     right: -1px;
     opacity: 0.5;
 }
.or:after{
    content: "";
    border-top: 1px solid #848484;
    width: 145px;
    /*height: 20px;*/
    position: absolute;
    top: 12px;
    left: -1px;
    opacity: 0.5;
}

.field-log-in{
    width: 318px;
    height: 38px;
    margin-bottom: 10px;
    font-size: 14px;
    opacity: 0.5;
    padding-left: 10px;
}

.field-log-in:focus{
    box-shadow: 0 4px 18px 0 rgba(0, 0, 0, 0.52);
    color: black;
    opacity: 0.8;
    border-radius: 2px;
    outline: none; /* Убираем контур */
    border: none;
}

input[type="checkbox"]{
    display: none;
}
input[type="checkbox"]:checked + .agreement::before{
    content:"";
    width: 14px;
    height: 11px;
    background: url('../img/ic_checkbox.png'), no-repeat;
}

.agreement{
    margin-top: 10px;
    display: block;
}
.agreement::before{
    content: "";
    display: inline-block;
    width: 14px;
    height: 11px;
    background-color: white;
    border: 1px rgba(0, 0, 0, 0.30) solid;
    border-radius: 3px;
    margin-right: 10px;
    transition: 0.2s;
}
.btn-create-acc{
    width: 330px;
    height: 46px;
    background-color: rgb(60, 184, 120);
    color: white;
    font-size: 16px;
    text-align: center;
    border-radius: 2px;
    border: none;
    margin-top: 20px;

}